@page
@model IEIPaperSearch.Pages.LoadResultsModel
@{
    ViewData["Title"] = "Motor de búsqueda bibiliográfica";
}

<h1>Resultados de carga</h1>
<br>

<p> Número de referencias cargadas: </p>
<br>
<dl>
    <dd>DBLP: @Model.DblpCount&nbsp;</dd>
    <dd>IEEE Xplore: @Model.IeeeXploreCount&nbsp;</dd>
    <dd>Google Scholar: @Model.GoogleScholarCount&nbsp;</dd>
    <br>

    <dd>Total de referencias cargadas: @Model.CombinedCount &nbsp;</dd>
</dl>



<br>
<br>
<label>Errores en el proceso: @Model.ErrorCount&nbsp;</label>
<br >

<label>Lista de errores:</label><br />
@Model.ErrorList

<br>
<br>

<a class="btn btn-primary" asp-area="" asp-page="/Search">Aceptar</a>