@page
@model IEIPaperSearch.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Resultados de búsqueda";
}

<h1>Index</h1>

<span>Encontrados @Model.Results.Count resultados</span>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => /* miembro del modelo */)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Propiedad1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Propiedad2)
                </td>
                <td>
                    <a asp-page="./TIPO/Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
